<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">

<title>I MAKE APPS | A Bit-acora on development</title>

<link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css">

<script type="text/javascript" src="/static/js/jquery-1.7.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/site.js"></script>

</head>

<body>
  <div id="overlay">
  <ul class="overlay-menu">
    <li>The Search Box</li>
    <li>
      <form id="search" action="{% url search_page %}" method="post">
      {% csrf_token %}
        {{ search_form.string }}
        <input type="submit" value="GO!">
      </form>
    </li>
    <li>
      <a href="http://feeds.feedburner.com/LeandroOsterasIMakeApps" id="feed">
        <img src="/static/images/social_rss.png" title="Suscribe to I MAKE APPS" width="32" height="32">
      </a>
    </li>
  </ul>
  
  </div>
  <div id="page">
    {% block header %}
      <header id="masthead" role="banner">
    		<hgroup>
    			<h1 id="site-title">
            <a href="{% url blog_index %}" title="I guess you knew it." rel="home">
              I MAKE APPS
            </a>
          </h1>
    			<h2 id="site-description">
            A bit-acora on development
          </h2>
    		</hgroup>
    	</header><!-- #masthead -->
    {% endblock header %}

  	<div id="main">
  		<div id="primary">
  			<div id="content" role="main">

          {% block content %}
            
          {% endblock content %}

        </div><!-- #content -->

      </div><!-- #primary -->		
  	</div><!-- #main -->

  	<footer id="colophon" role="contentinfo">
      <div id="site-info">
  		  This is not all I want.
<br/>
        This is close.
      </div>
  	</footer><!-- #colophon -->
    
    {% if user.is_authenticated %}
      {% include "dasblog/quickadmin.html" %}
    {% else %}
      {% include "dasblog/quicklogin.html" %}  
    {% endif %}    
    
  </div><!-- #page -->
</body>
</html>